<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>

<body>
    <h1>Welcome to Patricia's Kitchen Employees Page</h1>
    <br><br>
    <h2>Hello, {{fullname}}</h2>
    <div>
        <p>{{signedUpFor}}<br><br> {{daysConfirmed}}
            <br><br> Sign up for days for the coming week, or change your existing schedule below:<br>
        </p>
        <div class="checkbox">
            <form class="" action="" method="post">
              {{#each daysCheck}}
                <input type="checkbox" name="weekDays" value="{{this}}" >{{this}}<br>
              {{/each}}
              <br>
        </div>
        {{daysTakenMsg}}<br><br>
        <input type="submit" class="button" name="submitDays" value="Update days"><br><br>
        <input type="submit" class="button logout" name="logOut" value="Log out"><br><br><br>
        </form>
    </div>



</body>
